<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piotrvtuszy.phonedatamonitor">

    <!-- Uprawnienie do lokalizacji (MUSI być tutaj, nad <application>) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneDataMonitor">

        <!-- Dodaj to poniżej -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4782464337210507~8544683370"/>

        <!-- Twoje activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>
